[submodule "sm/sysrepo"]
	path = sm/sysrepo
	url = https://github.com/sysrepo/sysrepo.git
[submodule "sm/libyang"]
	path = sm/libyang
	url = https://github.com/CESNET/libyang.git
[submodule "sm/openconfig"]
	path = sm/openconfig
	url = https://github.com/openconfig/public.git
[submodule "sm/oopt-tai"]
	path = sm/oopt-tai
	url = https://github.com/Telecominfraproject/oopt-tai.git
[submodule "sm/OpenNetworkLinux"]
	path = sm/OpenNetworkLinux
	url = https://github.com/oopt-goldstone/OpenNetworkLinux.git
[submodule "sm/netopeer2"]
	path = sm/netopeer2
	url = https://github.com/CESNET/netopeer2.git
[submodule "sm/libnetconf2"]
	path = sm/libnetconf2
	url = https://github.com/CESNET/libnetconf2.git
[submodule "sm/sonic-mgmt-common"]
	path = sm/sonic-mgmt-common
	url = https://github.com/Azure/sonic-mgmt-common
[submodule "sm/libyang-python"]
	path = sm/libyang-python
	url = https://github.com/CESNET/libyang-python.git
[submodule "sm/sysrepo-python"]
	path = sm/sysrepo-python
	url = https://github.com/sysrepo/sysrepo-python.git
[submodule "sm/libnss-tacplus"]
	path = sm/libnss-tacplus
	url = https://github.com/daveolson53/libnss-tacplus.git
[submodule "sm/pam_tacplus"]
	path = sm/pam_tacplus
	url = https://github.com/jeroennijhof/pam_tacplus.git
[submodule "sm/sonic-py-swsssdk"]
	path = sm/sonic-py-swsssdk
	url = https://github.com/Azure/sonic-py-swsssdk.git
[submodule "sm/sysrepo2-rs"]
	path = sm/sysrepo2-rs
	url = https://github.com/ishidawataru/sysrepo2-rs.git
[submodule "sm/gnmi"]
	path = sm/gnmi
	url = https://github.com/openconfig/gnmi.git
[submodule "sm/openroadm"]
	path = sm/openroadm
	url = https://github.com/OpenROADM/OpenROADM_MSA_Public.git
